@font-face {
    font-family: 'AdiHaus';
    src: URL('https://assets.codepen.io/6060109/adihaus_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AdiHaus";
    src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}


body {
    min-width: 10%;
    min-height: 100vh;
    margin: 0;
    font-family: AdiHaus;
}

.all-container {
    max-width: 500px;
    margin: 0px auto;
}

#image-mobile {
    height: 250px;
    width: 100%;
    background-size: cover;
}

#logo {
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    height: 10%;
    padding-block: 3%;
}

#text-container {
    text-align: center;
    width: 100%;
}

#first-para {
    color: black;
    font-size: 3rem;
    line-height: 0.2;
    letter-spacing: 0.3125rem;
    padding-bottom: 5px;

    /* color: #2F80ED; */
}

#second-para,
#third-para {
    color: #fed330;
    font-size: 3rem;
    line-height: 0.1;
    letter-spacing: 0.3125rem;
    font-weight: 700;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

form input:first-of-type {
    height: 3rem;
    width: 15rem;
    padding-left: 2rem;
    box-sizing: border-box;
}

form input:last-of-type {
    width: 4rem;
    height: 3rem;
    color: white;
    background: black;
    border: none;
    border-radius: 0.1875rem;
    cursor: pointer;
}


@media only screen and (min-width: 768px) {

    body {
        background-size: cover;
    }

    .all-container {
        max-width: 100%;
    }

    p:nth-of-type(1) {
        padding-bottom: 0px;
    }

    p:last-child {
        width: 22rem;
        text-align: left;
    }

    form {
        justify-content: left;
        margin-left: 12%;
        margin-bottom: 0px;
    }

    #image-mobile {
        display: none;
    }

    #image-desktop {
        background-color: black;
        width: 49%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%);
    }


    #logo {
        justify-content: left;
        background-color: transparent;
        margin-left: 12%;
        padding-top: 3rem;
        height: 6%;
    }

    #text-container {
        width: 10%;
        margin: 0px 12%;
        padding-top: 4%;
    }

}