BYTESHARE_VERSION=0.3.2
ENVIRONMENT=dev
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
ROLE_ARN=
NEXT_PUBLIC_API_KEY=thisisthekey
WEB_BASE_URL=http://localhost:3000
RESEND_API_KEY=
R2_ACCOUNT_ID=
R2_ACCESS_KEY=
R2_SECRET_KEY=
APPWRITE_URL=https://cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
AWS_APP_REGION=
AWS_APP_ACCESS_KEY=
AWS_APP_SECRET_ACCESS_KEY=

# Not Required for Development mode
SCAN_USER=
SCAN_PASS=
APPWRITE_WEBHOOK_USER=
APPWRITE_WEBHOOK_PASS=
RABBITMQ_QUEUE=
RABBITMQ_URL=