**/__pycache__
middleware/.venv
ui/node_modules
middleware/.aws-sam
middleware/python-site-packages.zip
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
ui/.env
todo.txt
ui-bkp
ui/.next
middleware/.env
issue.txt