*.pyc
**/__pycache__
*.tmp
*.swp
*.db

.git
.gitignore

Dockerfile
docker-compose.yml

tests/
test/
pytest.ini

docs/
doc/
*.md

.vscode/
.idea/
*.iml

.venv/
.env
.env.example

build/
dist/
*.egg-info/

.aws-sam/
samconfig.toml
template.yaml