.env*

__tests__/
**/*.test.js**
**/*.test.jsx**
**/*.spec.js**
**/*.spec.jsx**

.gitignore
.dockerignore

npm-debug.log

node_modules/

.eslintrc.json
.prettierrc.json

*.log
logs

.vscode
.idea
.git
.github

.next
out